<div class="game">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <app-game-control
          (intervalAdded)="onIntervalFired($event)"
        ></app-game-control>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-odd-number
          *ngFor="let oddNumber of oddNumbers"
          [number]="oddNumber"
        ></app-odd-number>

        <app-even-number
          *ngFor="let evenNumber of evenNumbers"
          [number]="evenNumber"
        ></app-even-number>
      </div>
    </div>
  </div>
</div>
