<h3>Server Component</h3>

<input type="text" class="form-control" [(ngModel)]="serverName" />

<button
  (click)="onCreateServer()"
  class="btn btn-primary"
  [disabled]="!allowNewServer"
>
  Add Server
</button>

<p *ngIf="serverCreated; else noServer">Name: {{ serverName }}</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>
<p>Permissions: {{ allowNewServer }}</p>
<p>Status: {{ serverCreationStatus }}</p>

<input type="text" class="form-control" [(ngModel)]="username" />

<button
  (click)="onResetUsername()"
  class="btn btn-primary"
  [disabled]="!username"
>
  Reset User
</button>

<p>Username: {{ username }}</p>

<app-server *ngFor="let server of servers"> </app-server>

<button class="btn btn-primary" (click)="toggleDetails()">Show details</button>

<p *ngIf="showDetails">Secret Password</p>

<p *ngFor="let log of detailsLog; let i = index">
  <a
    [ngStyle]="{ color: i >= 4 ? 'white' : 'black' }"
    [ngClass]="{ high: i >= 4 }"
    >{{ log }}</a
  >
</p>
